
<ion-content>
  <div class="back-button-container">
    <ion-button fill="clear" (click)="goBack()" class="back-button">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <h2>Resultados de coincidencias de "{{ searchQuery }}"</h2>
  </div>
  <ion-list>
    <ion-item *ngFor="let trabajo of trabajosFiltrados">
      <ion-label (click)="goToDetalleTrabajo(trabajo)">
        
        <h2>{{ trabajo.descripcion }}</h2>
        <p>Categoría: {{ trabajo.categoria }}</p>
        <p>Comuna: {{ trabajo.comunas }}</p>
        <p>{{trabajo.descripcionTrabajo}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="trabajosFiltrados.length === 0">
    <ion-label>No se encontraron resultados para "{{ searchQuery }}" en "{{ comuna }}".</ion-label>
  </ion-item>
</ion-content>
